<div class="notesListWrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Content</th>
                <th>Category</th>
                <th>Dates</th>
                <th>
                    <div>
                        <button>Архів</button>
                        <button>Видалити</button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="notesTableBody">
            <!-- This is where the notes will be dynamically generated -->
        </tbody>
    </table>
    <button>Add note</button>
</div>